@{
    ViewData["Title"] = "Panel administratora";
    ViewData["PageTitle"] = "Panel administratora";
}

<div class="card form-card">
    <div class="card-body text-center">

        <div class="d-flex justify-content-center gap-4">
            <a asp-action="Users" class="btn btn-outline-primary btn-lg px-4">
                <i class="bi bi-people"></i> Użytkownicy
            </a>
            <a asp-action="Dashboard" class="btn btn-outline-success btn-lg px-4">
                <i class="bi bi-speedometer2"></i> Dashboard
            </a>
        </div>
    </div>
</div>
